<h2>Moje tematy</h2>
<div class="mt-2 mb-2">
  <h5>Filtrowanie</h5>
  <div class="d-flex justify-content-start flex-wrap">
    <div class="pt-2 pb-2 mr-2">
      <p-multiSelect [options]="selectOptionsType" [(ngModel)]="selectedTypes"
        (onChange)="personalTopicsTable.filter($event.value, 'type', 'in')" defaultLabel="Rodzaj pracy">
      </p-multiSelect>
    </div>
    <div class="pt-2 pb-2 mr-2">
      <p-multiSelect [options]="selectOptionsStatus" [(ngModel)]="selectedStatuses"
        (onChange)="personalTopicsTable.filter($event.value, 'status', 'in')" defaultLabel="Status">
      </p-multiSelect>
    </div>
    <div class="ui-inputgroup pt-2 pb-2 ml-auto">
      <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
      <input type="text" pInputText placeholder="Szukaj" [(ngModel)]="searchInput"
        (ngModelChange)="personalTopicsTable.filterGlobal($event, 'contains');">
    </div>
  </div>
</div>
<div>
  <h5>Tematy</h5>
  <p-table #personalTopicsTable [columns]="cols" [value]="topics" [tableStyleClass]="'table table-bordered'"
    dataKey="topic">
    <ng-template pTemplate="header" let-columns>
      <tr class="text-center">
        <th style="min-width: 35px; width: 50px;"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
      <tr>
        <td class="align-middle text-center">
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
          </a>
        </td>
        <td *ngFor="let col of columns" class="align-middle text-center">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="container-fluid p-2 m-2" style="font-size:16px;">
            <div class="p-1">
              <b>Temat:</b> {{rowData.topic}}
            </div>
            <div class="p-1">
              <b>Status:</b> {{rowData.status}}
            </div>
            <div class="p-1">
              <b>Realizator:</b> {{rowData.student}}
            </div>
            <div class="p-1">
              <b>Nowych wiadomości:</b> {{rowData.messages}}
            </div>
            <div class="p-1">
              <b>Data obrony:</b> {{rowData.examDate}}
            </div>
            <div class="p-1">
              <b>Opis</b>
              <div class="text-justify">
                {{rowData.description}}
              </div>
            </div>
            <div class="p-1 d-flex flex-row-reverse justify-content-start">
              <span class="ml-2">
                <button type="button" class="btn btn-primary">Wiadomości</button>
              </span>
              <span class="ml-2">
                <a routerLink="/topicview"><button type="button" class="btn btn-primary">Edytuj</button></a>
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>