<p-table [columns]="cols" [value]="data.files" [tableStyleClass]="'table table-bordered'" dataKey="topic">
  <ng-template pTemplate="header" let-columns>
    <tr class="text-center">
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr>
      <td class="align-middle text-center">
        {{rowData}}
      </td>
      <td class="align-middle text-center">
        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
      </td>
    </tr>
  </ng-template>
</p-table>