<div>
  <h1>Logowanie</h1>
  <form>
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" name="username" id="login" aria-describedby="login" placeholder="Login" [(ngModel)]="username">
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Hasło" [(ngModel)]="password">
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="login()">Zaloguj</button>
  </form>
</div>
