body {
    font-family: 'Roboto', sans-serif;
}

.bg-tul {
    background-color:#750104!important;
}


/* PTABLE */
p-table .ui-table .ui-sortable-column.ui-state-highlight {
    background-color: #f4f4f4;
    color: inherit;
}

p-table .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
    color: inherit;
}

p-table .ui-table .ui-sortable-column:focus {
    box-shadow: none;
}

.nav-link {
    color: inherit;
}

/* MULTISELECT */
.ui-multiselect {
    width: 250px;
}

hr.solid {
    border-top: 1px solid #999;
}
