<div class="p-1">
  <b>Temat:</b> {{data.topic}}
</div>
<div class="p-1">
  <b>Status:</b> {{data.status}}
</div>
<div class="p-1">
  <b>Typ pracy:</b> {{data.type}}
</div>
<div class="p-1">
  <b>Realizator:</b> {{data.student}}
</div>
<div class="p-1">
  <b>Data obrony:</b>
  {{data.examDate.getDate() + '-' + (data.examDate.getMonth() + 1) + '-' + data.examDate.getFullYear()}}
</div>
<div class="p-1">
  <b>Opis</b>
  <div class="text-justify">
    {{data.description}}
  </div>
</div>
<div class="p-1 d-flex flex-row-reverse justify-content-start">
  <span class="ml-2">
    <button type="button" class="btn btn-primary">Edytuj</button>
  </span>
</div>