<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Redirect</display-name>

<!--    <servlet>-->
<!--        <servlet-name>index</servlet-name>-->
<!--        <jsp-file>/index.jsp</jsp-file>-->
<!--    </servlet>-->

<!--    <servlet>-->
<!--        <servlet-name>webui</servlet-name>-->
<!--        <jsp-file>/webui/*</jsp-file>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>index</servlet-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>webui</servlet-name>-->
<!--        <url-pattern>/webui/*</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <error-page>-->
<!--        <location>/webui/index.html</location>-->
<!--    </error-page>-->
</web-app>